body {
  font-family: Garamond, serif;
  line-height: 1.6;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  width: 100%;
  padding: 20px;
  background-color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sidebar li {
  margin-bottom: 10px;
  margin-right: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-bottom: 1px dotted black;
}

.content {
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}
.content ul {
  padding: 0;
}

.header-image {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-family: Garamond, serif;
  text-align: left;
  padding: 30px 0;
  font-size: 48px;
  color: black;
  margin: 20px 0 0 0;
}

.typewriter {
  display: inline-flex;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

.links {
  color: black;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

.social-links {
  margin-top: 20px;
}

.social-links p {
  margin: 0;
  padding: 0;
}

.social-links p:first-child {
  margin-bottom: 5px;
}

.publication p {
  font-size: 18px;
  margin: 0;
}

.publication-title {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}
.publication-author {
  font-size: 18px;
}

.publication-details {
  display: block;
  font-style: italic;
  font-size: 18px;
  font-size: 18px;
  line-height: 18px;
}

.contact-info p {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.4;
}

.contact-info strong {
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .sidebar {
    width: 200px;
  }

  .sidebar ul {
    flex-direction: column;
  }

  .content {
    max-width: 800px;
  }

  h1 {
    font-size: 65px;
  }

  p,
  .publication p,
  .contact-info p {
    font-size: 18px;
  }

  .publication-details {
    font-size: 18px;
  }
}
